.app {
  display: grid;
  grid-template-rows: 150px auto;
  
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column {
  width: 33.33%;
  margin: 20px;
}
@media (max-width: 768px){
  .app_main{
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .task_column{
    width: 85%;
    
  }
}
